version: "3.8"

networks:
  my-net:
    driver: bridge
    name: my-net

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - INDEX_STORE_DIR=/app/indexes/store
      - LOG_LEVEL=INFO
    networks:
      - my-net
    volumes:
      - ./indexes/store:/app/indexes/store
      - ./.logs:/app/logs
      - ./configs:/app/configs

# Uncomment the following section to enable Neo4j service instead of using and llma-index knowledge graph store.
  # neo4j:
  #   image: neo4j:5.5
  #   ports:
  #     - "7474:7474" # Neo4j Browser
  #     - "7687:7687" # Bolt protocol
  #   environment:
  #     - NEO4J_AUTH=neo4j/admin@123 # Default username/password
  #   networks:
  #     - my-net
  #   volumes:
  #     - ./kg_indexes/data:/data
  #     - ./kg_indexes/logs:/logs
  #     - ./kg_indexes/import:/var/lib/neo4j/import
  #     - ./kg_indexes/plugins:/plugins